name: SRA timings

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 1 * *"

jobs:
    fetch_fastq:
        runs-on: ${{ matrix.os }}

        outputs:
            ubuntu_sratools: ${{ steps.run_approach.outputs.ubuntu-latest_prefetch_and_fasterqdump }}
            macos_sratools: ${{ steps.run_approach.outputs.macos-latest_prefetch_and_fasterqdump }}
            ubuntu_fqdumponly: ${{ steps.run_approach.outputs.ubuntu-latest_fasterqdump_only }}
            macos_fqdumponly: ${{ steps.run_approach.outputs.macos-latest_fasterqdump_only }}
            ubuntu_aws_fqdump: ${{ steps.run_approach.outputs.ubuntu-latest_aws_and_fasterqdump }}
            macos_aws_fqdump: ${{ steps.run_approach.outputs.macos-latest_aws_and_fasterqdump }}

        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]
                approach: [prefetch_and_fasterqdump, fasterqdump_only, aws_and_fasterqdump]

        steps:
            - name: Check out repo
              uses: actions/checkout@v4

            - name: Install sratools
              run: bash scripts/setup_sratools.bash

            - name: Run fastq getting approach and store timings
              id: run_approach
              run: |
                timing=`(time bash scripts/${{ matrix.approach }}.bash) 2>&1 | awk '$1 ~ "real" { split($2,a,"[ms]"); printf "%.2f\n",a[1]*60+a[2] }'`
                shasum *.fastq*
                platform_approach="${{ matrix.os }}_${{ matrix.approach }}"
                echo "${platform_approach}=${timing}" >> "$GITHUB_OUTPUT"

    update_README:
        needs: [fetch_fastq]

        permissions:
            contents: write

        runs-on: ubuntu-latest

        steps:
            - name: Check out repo
              uses: actions/checkout@v4

            - name: Show
              run:
                echo '${{ toJSON(needs.fetch_fastq.outputs) }}'

            - name: Add ubuntu timing results to README
              run: bash scripts/add_timing_result.bash
              env:
                OS: "ubuntu"
                PF_FQD: ${{ needs.fetch_fastq.outputs.ubuntu_sratools }}
                AWS_FQD: ${{ needs.fetch_fastq.outputs.ubuntu_aws_fqdump }}
                FQD_ONLY: ${{ needs.fetch_fastq.outputs.ubuntu_fqdumponly }}

            - name: Add macos timing results to README
              run: bash scripts/add_timing_result.bash
              env:
                OS: "macOS"
                PF_FQD: ${{ needs.fetch_fastq.outputs.macos_sratools }}
                AWS_FQD: ${{ needs.fetch_fastq.outputs.macos_aws_fqdump }}
                FQD_ONLY: ${{ needs.fetch_fastq.outputs.macos_fqdumponly }}

            - name: Commit and push changed to README
              run: |-
                git diff
                git config --global user.email "actions@users.noreply.github.com"
                git config --global user.name "README-bot"
                git add README.md
                git commit -m "Updated timings in README" || exit 0
                git push
