name: SRA timings

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 1 * *"

jobs:
    sra_prefetch_fasterq-dump:
        runs-on: ${{ matrix.os }}

        outputs:
            ubuntu_timing: ${{ steps.run_sratoolkit.outputs.ubuntu-latest_timing }}
            macos_timing: ${{ steps.run_sratoolkit.outputs.macos-latest_timing }}

        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]

        env:
            sratoolkit_urls: '{
                "ubuntu-latest" : "https://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/3.2.0/sratoolkit.3.2.0-ubuntu64.tar.gz",
                "macos-latest": "https://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/3.2.0/sratoolkit.3.2.0-mac-arm64.tar.gz",
                }'

        steps:
            - name: Download sra-toolkit
              run: |
                wget ${{ fromJSON(env.sratoolkit_urls)[matrix.os] }} -O sra_toolkit.tar.gz
                mkdir sra_toolkit
                tar -xzf sra_toolkit.tar.gz -C sra_toolkit --strip-components 1

            - name: Run prefetch and store timings
              id: run_sratoolkit
              run: |
                time ./sra_toolkit/bin/prefetch --help
                platform="${{ matrix.os }}"
                timing="01:00:00"
                echo "${platform}_timing=${timing}" >> "$GITHUB_OUTPUT"


    update_README:
        needs: [sra_prefetch_fasterq-dump]

        permissions:
            contents: write

        runs-on: ubuntu-latest

        steps:
            - name: Check out repo
              uses: actions/checkout@v4

            - name: Add ubuntu timing results to README
              run: bash add_timing_result.bash
              env:
                PLATFORM: "ubuntu-latest"
                TIMING: ${{ fromJSON(needs.sra_prefetch_fasterq-dump.outputs.ubuntu_timing) }}
                METHOD: "prefetch, fasterq-dump"

            - name: Add macos timing results to README
              run: bash add_timing_result.bash
              env:
                PLATFORM: "macos-latest"
                TIMING: ${{ fromJSON(needs.sra_prefetch_fasterq-dump.outputs.macos_timing) }}
                METHOD: "prefetch, fasterq-dump"

            - name: Commit and push if changed
              run: |-
                git diff
                git config --global user.email "actions@users.noreply.github.com"
                git config --global user.name "README-bot"
                git add README.md
                git commit -m "Updated Timings" || exit 0
                git push
