name: SRA timings

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 1 * *"

jobs:
    sra_prefetch_fasterq-dump:

        permissions:
            contents: write

        runs-on: ${{ matrix.os }}

        strategy:
            max-parallel: 1
            matrix:
                os: [ubuntu-latest, macos-latest]

        env:
            sratoolkit_urls: '{
                "ubuntu-latest" : "https://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/3.2.0/sratoolkit.3.2.0-ubuntu64.tar.gz",
                "macos-latest": "https://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/3.2.0/sratoolkit.3.2.0-mac-arm64.tar.gz",
                }'

        steps:
            - name: Check out repo
              uses: actions/checkout@v4

            - name: Download sra-toolkit
              run: |
                wget ${{ fromJSON(env.sratoolkit_urls)[matrix.os] }} -O sra_toolkit.tar.gz
                mkdir sra_toolkit
                tar -xzf sra_toolkit.tar.gz -C sra_toolkit --strip-components 1
                ls

            - name: Run prefetch and store timings
              run: |
                time ./sra_toolkit/bin/prefetch --help
                echo "prefetch_timing=01:00:00" >> $GITHUB_ENV

            - name: Add timing results to README
              run: bash add_timing_result.bash
              env:
                PLATFORM: ${{ matrix.os }}
                TIMING: ${{ env.prefetch_timing }}
                METHOD: "prefetch, fasterq-dump"

            - name: Commit and push if changed
              run: |-
                git diff
                git config --global user.email "actions@users.noreply.github.com"
                git config --global user.name "README-bot"
                git add README.md
                git commit -m "Updated Timings" || exit 0
                git push
