name: SRA timings

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 1 * *"

jobs:
    sra_prefetch_fasterq-dump:
        runs-on: ${{ matrix.os }}

        outputs:
            ubuntu_sratools: ${{ steps.run_sratoolkit.outputs.ubuntu-latest_sratools }}
            macos_sratools: ${{ steps.run_sratoolkit.outputs.macos-latest_sratools }}
            ubuntu_fqdumponly: ${{ steps.run_fasterqdump.outputs.ubuntu-latest_fqdumponly }}
            macos_fqdumponly: ${{ steps.run_fasterqdump.outputs.macos-latest_fqdumponly }}

        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]

        env:
            sratoolkit_urls: '{
                "ubuntu-latest" : "https://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/3.2.0/sratoolkit.3.2.0-ubuntu64.tar.gz",
                "macos-latest": "https://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/3.2.0/sratoolkit.3.2.0-mac-arm64.tar.gz",
                }'

        steps:
            - name: Check out repo
              uses: actions/checkout@v4

            - name: Download sra-toolkit
              run: bash scripts/setup_sratools.bash
              env:
                SOFTWARE_URL: ${{ fromJSON(env.sratoolkit_urls)[matrix.os] }}

            - name: Run prefetch, fasterq-dump and store timings
              id: run_sratoolkit
              run: |
                timing=`(time bash scripts/prefetch_fasterq-dump.bash) 2>&1 | awk '$1 ~ "real" { print $2 }'`
                shasum *.fastq*
                platform="${{ matrix.os }}"
                echo "${platform}_sratools=${timing}" >> "$GITHUB_OUTPUT"

            - name: Run fasterq-dump ONLY
              id: run_fasterqdump
              run: |
                rm -rf SRR32515828
                timing=`(time bash scripts/fasterq-dump_only.bash) 2>&1 | awk '$1 ~ "real" { print $2 }'`
                shasum *.fastq*
                platform="${{ matrix.os }}"
                echo "${platform}_fqdumponly=${timing}" >> "$GITHUB_OUTPUT"

    update_README:
        needs: [sra_prefetch_fasterq-dump]

        permissions:
            contents: write

        runs-on: ubuntu-latest

        steps:
            - name: Check out repo
              uses: actions/checkout@v4

            - name: Show
              run:
                echo '${{ toJSON(needs.sra_prefetch_fasterq-dump.outputs) }}'

            - name: Add ubuntu prefetch, fasterq-dump timing results to README
              run: bash scripts/add_timing_result.bash
              env:
                PLATFORM: "ubuntu-latest"
                TIMING: ${{ needs.sra_prefetch_fasterq-dump.outputs.ubuntu_sratools }}
                METHOD: "prefetch, fasterq-dump"

            - name: Add macos prefetch, fasterq-dump timing results to README
              run: bash scripts/add_timing_result.bash
              env:
                PLATFORM: "macos-latest"
                TIMING: ${{ needs.sra_prefetch_fasterq-dump.outputs.macos_sratools }}
                METHOD: "prefetch, fasterq-dump"

            - name: Add ubuntu fasterq-dump only timing results to README
              run: bash scripts/add_timing_result.bash
              env:
                PLATFORM: "ubuntu-latest"
                TIMING: ${{ needs.sra_prefetch_fasterq-dump.outputs.ubuntu_fqdumponly }}
                METHOD: "fasterq-dump only"

            - name: Add macos prefetch, fasterq-dump timing results to README
              run: bash scripts/add_timing_result.bash
              env:
                PLATFORM: "macos-latest"
                TIMING: ${{ needs.sra_prefetch_fasterq-dump.outputs.macos_fqdumponly }}
                METHOD: "fasterq-dump only"

            - name: Commit and push changed to README
              run: |-
                git diff
                git config --global user.email "actions@users.noreply.github.com"
                git config --global user.name "README-bot"
                git add README.md
                git commit -m "Updated timings in README" || exit 0
                git push
