name: SRA timings

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 1 * *"

jobs:
    sra_prefetch_fasterq-dump:

        permissions:
            contents: write

        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]

        env:
            sratoolkit_urls: '{
                "ubuntu-latest" : "https://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/3.2.0/sratoolkit.3.2.0-ubuntu64.tar.gz",
                "macos-latest": "https://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/3.2.0/sratoolkit.3.2.0-mac-arm64.tar.gz",
                }'

        steps:
            - name: Check out repo
              uses: actions/checkout@v4

            - name: Download sra-toolkit
              run: |
                wget ${{ fromJSON(env.sratoolkit_urls)[matrix.os] }} -O sra_toolkit.tar.gz
                mkdir sra_toolkit
                tar -xzf sra_toolkit.tar.gz -C sra_toolkit --strip-components 1
                ls

            - name: Run prefetch and update README.md
              run: |
                echo "About to run prefetch for ${{ matrix.os }} >> README.md"
                time ./sra_toolkit/bin/prefetch --help >> README.md

            - name: Commit and push if changed
              run: |-
                git diff
                git config --global user.email "actions@users.noreply.github.com"
                git config --global user.name "README-bot"
                git add README.md
                git commit -m "Updated content" || exit 0
                git push
